@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rye&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer components {
  .btn {
    @apply px-3 py-[6px] text-sm text-white transition border rounded-md border-primary sm:px-4 sm:py-2 sm:text-base min-w-max hover:opacity-90;
  }

  .modal__backdrop {
    @apply fixed inset-0 z-30 bg-gray-900 opacity-50;
  }

  .modal {
    @apply fixed z-40 w-11/12 max-w-lg p-4 -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg top-1/2 left-1/2;
  }

  .modal__title {
    @apply text-lg font-medium text-center;
  }

  .modal__body {
    @apply py-10 text-center text-gray-700;
  }
}
